
.page-heading{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to bottom right,rgb(100, 170, 211),rgb(156, 236, 226));
    padding: 100px auto 60px auto;
}
.page-heading h1{
    z-index: 1;
}
.container{
    z-index: 2;
    width: 80%;
    margin: 0 auto;
}
.article-content{
    z-index: 1;
    /* overflow: hidden; */
}
.article-content a{
    color: cadetblue;
}
.article-content ul{
    margin-left: 30px;
}
.clock-airplane {
    width:65px;
    height:65px;
    position: absolute;
    top: 20%;
    left: 10%;
    animation: rotateplane 20s linear infinite;
    transform-origin: 25vw 25vw;
    -webkit-transform-origin: 25vw 25vw;
}
.clock-airplane img{
    width: 60px;
    transform: rotateZ(-40deg);
}
.anticlock-airplane {
    width:65px;
    height:65px;
    position: absolute;
    top: 20%;
    left: 50%;
    animation: rotateplane 20s reverse linear infinite;
    transform-origin: 25vw 25vw;
    -webkit-transform-origin: 25vw 25vw;
}
.anticlock-airplane img{
    width: 60px;
    transform: rotateZ(140deg);
}
@keyframes rotateplane {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@media screen and (max-width:768px){
    .container{
        width: 90%;
    }

    .clock-airplane {
        width:65px;
        height:65px;
        position: absolute;
        top: 30%;
        left: -70%;
        animation: rotateplane 20s linear infinite;
        transform-origin: 200px 200px;
        -webkit-transform-origin: 200px 200px;
    }
    .anticlock-airplane {
        width:65px;
        height:65px;
        position: absolute;
        top: 30%;
        left: 20%;
        animation: rotateplane 20s reverse linear infinite;
        transform-origin: 200px 200px;
        -webkit-transform-origin: 200px 200px;
    }
}

/* ***************ABOUT PAGE STYLING***************** */
.about{
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: space-around;
}
.about div{
    margin: auto;
    font-size: 20px;
}
.about img{
    width: 100%;
}
@media screen and (max-width:768px){
    .about{
        flex-direction: column-reverse;
    }
    .about div{
        margin: auto;
        font-size: 16px;
    }
    
}