html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    background:#ffffff;
}

.logo{
    position: absolute;
    text-transform: uppercase;
    font-size: 20px;
    margin: 1.2em;
}

.logo {
    color: white;
    font-family: "Cinzel";
}



.container-left {
    position: absolute;
    width: 50%;
    height: 100vh;
}

.container-right {
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 45%;
    background: url(destination2.jpg) no-repeat 50% 50%;
    background-size: 110%;
    animation: animatedBackground1 6s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 1s;
}

@keyframes animatedBackground1 {
    from {
        background-size: 460%;
    }
    to {
        background-size: 110%;
    }
}

.container-left-img {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background: url(destination1.jpg) no-repeat 50% 50%;
    background-size: 210%;
    animation: animatedBackground2 6s cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 1s;
}

@keyframes animatedBackground2 {
    from {
        background-size: 760%;
    }
    to {
        background-size: 210%;
    }
}



.left-img-btn {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Cinzel";
    background: #8f8776;
    border:2px dashed #000000;
    
    
}

.horizontal_slider{
    display:block;
    width:100%;
    overflow:scroll;
    padding:20px;
    box-sizing:border-box;
    background-color:#ffffff;
}

.slider_container{
    display:block;
    white-space:nowrap;
    
}

.item{
    display:inline-block;
    margin-right:10px;
    background-color:rgb(238, 238, 226);
    
}

.item img{
    width:300px;
    height:300px;
    padding:10px;
    outline:2px dashed #8f8776;
    outline-offset: -5px;
    
}


.horizontal_slider .slider_container .item .content{
    width:100%;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #8f8776;
    
}

.horizontal_slider .slider_container .item .content h2{
    color:#fff;
    font-weight:500;
    line-height:1.2em;
}

.horizontal_slider .slider_container .item .content h2 span{
    font-size:0.8em;
    font-weight:300;
    opacity:0.5;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.map{
    
    position:relative;
    height:350px;
    width:700px;
    /*padding:80px;*/
    left:40%;
    right:0%;
}

.map img{
    opacity:1;
    height:350px;
    width:700px;
    padding-top:5%;
}

.map span{
    position:absolute;
    width:20px;
    height:20px;
    border-radius:50px;
    top:75%;
    left:30%;
    background-color:#75fff4;
}


.map .marker2{
    left:70%;
    top:50%;
    display:block;
}

.map .marker2 .img1{
    display:none;
    width:100px;
    height:100px;
    clip-path:circle();
}

.map .marker2:hover .img1{
    display:block;
}
.map .marker3{
    left:50%;
    top:60%;
}

.map .marker4{
    left:20%;
    top:40%;
}

.map .marker5{
    left:50%;
    top:42%;
}



/*globe logo line*/
.globelogo{
    align-items:center;
}

.dest-entry-divider {
    display: block;
    max-width: 90%;
    margin: 20px auto;
}