/************Search bar*******/

.boxcontainer{
    margin:auto;
    margin-top:20%;
    position:relative;
    width:300px;
    height:42px;
    border:2px solid #2980b9;
    padding:0px 10px;
    border-radius:50px;
}

.elementcontainer{
    width:100%;
    height:100%;
    vertical-align:middle;
}

.search{
    border:none;
    height:100%;
    width:100%;
    padding:0px 5px;
    border-radius:50px;
    font-size:18px;
    font-family:"Nunito";
    color:#424242;
    font-weight:500;
}

.search:focus{
    outline:none;
}

.material-icons{
    font-size:26;
    color:#2980b9;
}

.boxcontainer i:hover{
    background:#6ba6ce;
    cursor:pointer;
    clip-path:circle();
    width:35px;
    height:35px;
}