.searching{
    height: 100vh;
    display: flex;
    /* width: 100vw; */
}
/* ***********Earth canvas on explore page********** */

.search_earth{
    /* margin: auto; */
    /* margin-top: 22vh ; */
    /* position: absolute; */
    position: static;
    flex: 2;
    outline: none;
    height: 100%;
    width: 70%;
    /* background-color: rgb(125, 154, 155); */
}

/************Search bar*******/

.search_bar{
    margin-top:40vh;
    margin-right: 60px;
    width:70%;
    height:42px;
    border:2px solid #2980b9;
    border-radius:50px;
    display: flex;
}
.search_bar button{
    border: none;
    background:none;
    margin-right:10px;
}
.search_bar img{
    width: 22px;
}
.search{
    border:none;
    height:100%;
    width:100%;
    padding:0px 5px;
    border-radius:50px;
    font-size:17px;
    color:#424242;
    font-weight:500;
}
.search:focus{
    background-color: none;
}
.search_bar input::-webkit-calendar-picker-indicator {
    display: none;
}

@media screen and (max-width:1024px){
    .searching{
        flex-direction: column-reverse;
    }
    .search_bar{
        margin: 20vh auto 0 auto;
        width: 300px;
    }
    .search_earth{
        height: 80vh;
        width: 100%;
    }
}