*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body{
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
body.complete{
    overflow: scroll;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'prata', sans-serif;
    font-weight: 500;
}
header,footer{
    flex-shrink: 0;
}
main {
    flex-grow: 1;
}

.loading-screen{
    z-index: 5;
    position: absolute;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(235, 231, 231);
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.load-logo{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin-top: 25vh;
}
.tagline{
    /* margin: auto; */
    font-size: 16px;
}
.loading{
    position: absolute;
    width: 100%;
    top: 90vh;
    font-size: 16px;
}
.boat{
    margin: 5vh auto;
    width: 50px;
    animation: sway 2s infinite normal;
}
.loading-screen.complete{
    opacity: 0;
    transition: 2s all ease;
}
.loading-screen.hide{
    /* z-index: -5; */
    display: none;
}
@keyframes sway{
    0%{
        transform: rotateZ(0deg) translateY(0px);
    }
    5%{
        transform: rotateZ(4deg) translateY(1px);
    }
    10%{
        transform: rotateZ(8deg) translateY(2px);
    }
    15%{
        transform: rotateZ(12deg) translateY(3px);
    }
    20%{
        transform: rotateZ(16deg) translateY(4px);
    }
    25%{
        transform: rotateZ(20deg) translateY(5px);
    }
    30%{
        transform: rotateZ(16deg) translateY(6px);
    }
    35%{
        transform: rotateZ(12deg) translateY(7px);
    }
    40%{
        transform: rotateZ(8deg) translateY(8px);
    }
    45%{
        transform: rotateZ(4deg) translateY(9px);
    }
    50%{
        transform: rotateZ(0deg) translateY(10px);
    }
    55%{
        transform: rotateZ(-4deg) translateY(9px);
    }
    60%{
        transform: rotateZ(-8deg) translateY(8px);
    }
    65%{
        transform: rotateZ(-12deg) translateY(7px);
    }
    70%{
        transform: rotateZ(-16deg) translateY(6px);
    }
    75%{
        transform: rotateZ(-20deg) translateY(5px);
    }
    80%{
        transform: rotateZ(-16deg) translateY(4px);
    }
    85%{
        transform: rotateZ(-12deg) translateY(3px);
    }
    90%{
        transform: rotateZ(-8deg) translateY(2px);
    }
    95%{
        transform: rotateZ(-4deg) translateY(1px);
    }
    100%{
        transform: rotateZ(-0deg) translateY(0px);
    }
}

.earth{
    /* background-color: violet; */
    /* display: flex; */
    height: 100vh;
}
.earth canvas{
    /* background-image: url("/assets/images/gray.svg"); */
    position: static;
    flex: 2;
    outline: none;
    height: 100%;
    width: 80%;
}
.heading{
    z-index: 1;
    position: absolute;
    flex: 1;
    top: 40%;
    left: 80%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin: auto;
}
.heading h1{
    font-size: 4em;
}
.heading h2{
    font-size: 1em;
}
#pop-info{
    text-align: center;
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 200px;
    z-index: 1;
    border: 0;
    margin: 0;
    background-color: rgb(157, 116, 174);
    border-radius: 50%;
    display: none;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
}
.more{
    z-index: 1;
    display: flex;
    position: absolute;
    bottom: -200%;
    width: 100%;
    flex-direction: column-reverse;
    /*To remove on tap blue color*/
    -webkit-tap-highlight-color: transparent;
    /*To disable text selection on tap or double click*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    transition: all 0.5s ease;
}
.more img{
    height: 10px;
    margin: 10px 0px 5px 0px;
    animation: swipe 0.8s infinite alternate;
}
.more span{
    font-weight: bold;
    font-size: 12px;
}
@keyframes swipe{
    0%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(7px);
    }
}

@media screen and (max-width:768px){
    .earth{
        height: 100vh;
        /* background-color: violet; */
        display: flex;
        flex-direction: column;
    }
    .earth canvas{
        /* background-image: url("/assets/images/gray.svg"); */
        width: 100%;
        height: 100%;
    }

    .heading{
        /* z-index: 0; */
        position: absolute;
        width: 100%;
        height: 30vh;
        left: auto;
        right: auto;
        top: 75vh;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: flex-end; */
        /* background-color: rgba(197, 23, 23, 0.452); */
        /* text-align: center; */
        /* margin-bottom: 10vh; */
    }
    .heading h1{
        display: none;
    }
    .heading h2{
        display: none;
        margin: auto;
    }
    .more{
        display: flex;
        z-index: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0%;
        /* bottom: -200%; */
        margin-top: 10vh;
        width: 100%;
        flex-direction: column;
    }
    .more img{
        height: 10px;
        margin: 10px 0px 5px 0px;
        animation: swipe 0.8s infinite alternate;
    }
}